:root {
  --color-gray-900: #0c0c0d;
  --color-gray-800: #131313;
  --color-gray-700: #272727;
  --color-gray-400: #6f6f6f;
  --color-gray-300: #c8c8c8;
  --color-purple-300: #b292ff;
  --color-green-500: #5fb9b0;
  --color-gray-gradient: linear(90deg, #232323 0%, #434343 49%, #232323 100%);
  --color-white: #fff;
  --color-black: #000;
  --bg-nav: rgba(33, 31, 35, 35%);
}

.btn {
  padding: 12px 40px;
  border-radius: 100px;
  cursor: pointer;
  border: none;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 2px rgba(247, 247, 247, 0.2);
  transition: all 0.4s;
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 1px rgba(222, 222, 222, 0.2);
}

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
